/* Media query */
/* media query  at 900px*/
@media screen and (max-width:901px) {
 h3 {
  font-size: 1.3rem;
 }

 #open-outline{
   display: block;
   color: black;
   font-size: 2rem;
   margin-right: 20px;
  }


  .main-nav {
   overflow: initial;
  }

  .nav-links {
   position: absolute;
   background-color: #fff;
   top: 100%;
   left: -100%;
   width: 100%;
   padding-block: 20px;
  }
  .nav-links.active {
   left: 0px;
  }
  .nav-links ul{
   flex-direction: column;
  } 
  

 .header-right img {
  width: 100%;
 }

  .example-area {
   gap: 20px;
  }
  .example-card {
   width: calc(50% - 10px);
   height: 180px;
  }
}

@media screen and (max-width:765px) {

 .primary-button {
  width: 100%;
 }


 .header-section {
  flex-direction: column-reverse;
 }
 
 .header-left {
  max-width: 100vw;
  text-align: center;
 }

 .features-card {
  min-width: calc(50% - 10px);
 }

 .big-feature-container {
  flex-direction: column !important;
 }

 .footer-section {
  flex-direction: column;
  gap: 40px;
  align-items: center;
  text-align: center;
 }

 .link-column {
  align-items: stretch;
 }
}

@media screen and (max-width: 475px) {
 :root {
  --padding-inline-section: 10px;
 }

 h1 {
  font-size: 2rem;
 }

 h2 {
  font-size: 1.5rem;
 }
 
 p {
  font-size: 1rem;
 }

 .features-card {
  min-width: 100%;
 }

 .example-card {
  width: 100%;
 }
}